
.card {
    display: flex;
    justify-content: center;
    gap: 31px;
    width: 100%;
    transform: translateY(-100px);

    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 349px;
        background-color: #fff;
        padding: 40px 35px 18px;
        box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.10);
    }

    &-img {
        max-width: 87px;
        max-height: 87px;
    }

    &-title {
        color: $color-black;
        font-family: $font-tinos;
        font-size: 26px;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 20px;

        &>span {
            color: #BC9060;
        }
    }

    &-text {
        color: #656363;
        text-align: center;
        font-family: $font-tinos;
        font-size: 26px;
        font-weight: 400;
        line-height: normal;
    }


}

@media screen and (max-width: 1199px) {
    .card {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 533px) {
    
    .card {
        
        &-item {
            max-width: 290px;
            padding: 20px 13px 13px;
        }
    
        &-text {
            font-size: 22px;
        }
    }

}