.catalog {
    margin-bottom: 152px;

    &__title {
        text-align: center;
        margin-bottom: 139px;

        &>span {
            color: $color-orange-titles;
        }
    }

    &__box {
        display: flex;
        gap: 30px;
    }

    &__img {
        max-width: 445px;
        max-height: 478px;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 29px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 29px;

        &-info {
            display: flex;
            width: 100%;
            align-items: center;
        }

        &-img {
            max-width: 160px;
            max-height: 140px;
        }

        &-text {
            white-space: nowrap;
            color: #000;
            font-family: 'Tinos';
            font-size: 26px;
            font-weight: 400;
            line-height: normal;
            margin-right: 7px;
            width: 100%;
        }

        &-dec {
            border-top: 2px dotted #000;
            max-width: 204px;
            width: 100%;
            margin-right: 7px;
        }

        &-prise {
            color: #000;
            font-family: Tinos;
            font-size: 26px;
            font-weight: 400;
            line-height: normal;
            white-space: nowrap;
        }
    }
}

@media screen and (max-width: 1024px) {
    
    .catalog {

       &__box {
            flex-direction: column;
            align-items: center;
            gap: 50px;
       }

       &__menu {
            width: auto;
       }



       &__title {
            margin-bottom: 72px;
       }

       &__item {

            &-info {
                flex-direction: column;
            }

            &-dec {
                display: none;
            }
       }
    }

}

@media screen and (max-width: 533px) {
    
    .catalog {


        &__img {
            max-width: 100%;
        }

        &__menu {

        }

        &__title {

        }

        &__item {
            max-width: 290px;

                &-img {
                    width: 170.625px;
                    height: 113.75px;
                    max-width: 100%;
                }

                &-text {
                    font-size: 22px;
                    text-align: center;
                    margin: 0;
                    max-width: 100%;
                    white-space: wrap;
                }

                &-prise {
                    font-size: 22px;
                    max-width: 100%;
                }
        }
    }

}

@media screen and (max-width: 320px) {
    
    .catalog {

        &__item {
            gap: 7px;
        }
    }

}