.container {
    max-width: 1149px;
    padding: 0 10px;
    margin: 0 auto;
}

body {
    font-family: 'OpenSans';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a { 
    text-decoration: none;
    color: inherit;
    font-weight: 400;
}

ul {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

button {
    padding: 14px 18px;
    background-color: $color-orange;
    color: #fff;
    font-family: 'OpenSans';
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    cursor: pointer;
}



