.history {

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        display: flex;
        flex-direction: column;
        max-width: 444px;
        text-align: center;
    }

    &__title {
        margin-bottom: 21px;

        &>span {
            color: $color-orange-titles;
        }
    }

    &__text {
        color: #656363;
        font-family: "OpenSans";
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 80px;
    }

    &__counters {
        display: flex;
        justify-content: center;
        gap: 40px;
    }

    &__counter {

        &-num {
            color: #BC9060;
            font-size: 40px;
            margin-bottom: 10px;
        }

        &-name {
            color: #000;
            font-size: 20px;
        }
    }

    &__photo {
        width: 539px;
        height: 497px;
        position: relative;
        
        &-color {
            width: 212px;
            height: 164px;
            background: #FFE8D0;
            position: absolute;
            top: 33px;
            right: 43px;
            z-index: 1;
        }

        &-first {
            position: absolute;
            top: 0;
            right: 95px;
            max-width: 255px;
            max-height: 430px;
            z-index: 10;
        }

        &-second {
            position: absolute;
            top: 198px;
            right: 0;
            max-width: 255px;
            max-height: 399px;
            box-shadow: 20px 0px 30px 3px rgba(0, 0, 0, 0.50);
            z-index: 100;
            
        }

        &-therd {
            position: absolute;
            top: 65px;
            right: 300px;
            max-width: 233px;
            max-height: 300px;
            box-shadow: 20px 0px 30px 3px rgba(0, 0, 0, 0.50);
            z-index: 100;
        }
    }
}

@media screen and (max-width: 1024px) {
    
    .history {

        &__inner {
            flex-direction: column;
            align-items: center;
        }

        &__content {
            margin-bottom: 45px;
        }

        &__photo {
            margin-bottom: 51px;
        }
    }
}

@media screen and (max-width: 600px) {
    .history {


        &__counters {
            flex-direction: column;
        }

        &__content {
        }

        &__text {

        }

        &__photo {
            max-width: 290px;
            height: 257px;

            &-color {
                top: 9px;
                max-width: 114.063px;
                max-height: 84.657px;
            }

            &-first {
                width: 137.199px;
                height: 221.968px;
            }

            &-second {
                top: 103px;
                max-width: 137.199px;
                max-height: 205.965px;
            }

            &-therd {
                top: 32px;
                left: 0px;
                max-width: 125.362px;
                max-height: 154.861px;
            }
        }
    }
}