///fonts///
$font-primary: 'OpenSans';


///colors///
$color-darkBlue: #0B1427;
$color-orange: #FF7400;
$color-orange-titles: #D67E35;
$color-black: #2C2C2C;
$color-white: #FFFFFF;
$color-grey: #B4B4B4;
$color-lightGrey: #B4B4B4;
$color-lightGrey: #DEDEDE;
$color-veryLightGrey: #F5F5F5;

///margin/// 
$margin-bottom: 40px;
