<div class="card">
    <div class="card-item">
        <img class="card-img" src="assets/img/card.svg" alt="">
        <h3 class="card-title">Магическая <span>Атмосфера</span></h3>
        <p class="card-text">В нашем заведении царит магическая атмосфера наполненная вкусными ароматами</p>
    </div>
    <div class="card-item">
        <img class="card-img" src="assets/img/card.svg" alt="">
        <h3 class="card-title">Лучшее качество <span>Еды</span></h3>
        <p class="card-text">Качество нашей Еды - отменное!</p>
    </div>
    <div class="card-item">
        <img class="card-img" src="assets/img/card.svg" alt="">
        <h3 class="card-title">Недорогая <span>Еда</span></h3>
        <p class="card-text">Стоимость нашей Еды зависит только от ее количества. Качество всегда на высоте!</p>
    </div>
</div>