<section class="catalog">
    <div class="container">
        <h2 class="catalog__title wow animate__animated animate__fadeIn">Наши <span>Блюда</span></h2>
        <div class="catalog__box">
            <img class="catalog__img" src="assets/img/catalog-main.webp" alt="">
            <div class="catalog__menu">
                <div class="catalog__item">
                    <img class="catalog__item-img" src="assets/img/catalog-item.webp" alt="">
                    <div class="catalog__item-info">
                        <p class="catalog__item-text">Гамбургер мини</p>
                        <p class="catalog__item-dec"></p>
                        <p class="catalog__item-prise">220 ₽</p>
                    </div>
                </div>
                <div class="catalog__item">
                    <img class="catalog__item-img" src="assets/img/catalog-item.webp" alt="">
                    <div class="catalog__item-info">
                        <p class="catalog__item-text">Гамбургер мини</p>
                        <p class="catalog__item-dec"></p>
                        <p class="catalog__item-prise">220 ₽</p>
                    </div>
                </div>
                <div class="catalog__item">
                    <img class="catalog__item-img" src="assets/img/catalog-item.webp" alt="">
                    <div class="catalog__item-info">
                        <p class="catalog__item-text">Гамбургер мини</p>
                        <p class="catalog__item-dec"></p>
                        <p class="catalog__item-prise">220 ₽</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>