<section class="coments">
    <div class="container">
        <div class="swiper coments-swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide coments__box">
                <p class="coments__text">Я надолго запомню мой День рождения, проведённый в этом ресторане! Кусочек родной Армении!!! Отдельное спасибо за комплепент в виде фруктовой тарелки. Будем рекомендовать этот ресторан своим друзьям и родственникам также за рубежом, путешествующих в Санкт-Петербург!!!</p>
                <img class="coments__img wow animate__animated animate__fadeIn" src="assets/img/coments-name.webp" alt="">
                <p class="coments__who wow animate__animated animate__fadeIn">Посетитель</p>
                <p class="coments__name wow animate__animated animate__fadeIn">Николай</p>
            </div>
            <div class="swiper-slide coments__box">
                <p class="coments__text">Я надолго запомню мой День рождения, проведённый в этом ресторане! Кусочек родной Армении!!! Отдельное спасибо за комплепент в виде фруктовой тарелки. Будем рекомендовать этот ресторан своим друзьям и родственникам также за рубежом, путешествующих в Санкт-Петербург!!!</p>
                <img class="coments__img wow animate__animated animate__fadeIn" src="assets/img/coments-name.webp" alt="">
                <p class="coments__who wow animate__animated animate__fadeIn">Посетитель</p>
                <p class="coments__name wow animate__animated animate__fadeIn">Николай</p>
            </div>
            <div class="swiper-slide coments__box">
                <p class="coments__text">Я надолго запомню мой День рождения, проведённый в этом ресторане! Кусочек родной Армении!!! Отдельное спасибо за комплепент в виде фруктовой тарелки. Будем рекомендовать этот ресторан своим друзьям и родственникам также за рубежом, путешествующих в Санкт-Петербург!!!</p>
                <img class="coments__img wow animate__animated animate__fadeIn" src="assets/img/coments-name.webp" alt="">
                <p class="coments__who wow animate__animated animate__fadeIn">Посетитель</p>
                <p class="coments__name wow animate__animated animate__fadeIn">Николай</p>
            </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
    </div>
</section>