<section class="gallery">
    <div class="container">
        <div class="gallery__box">
            <h2 class="gallery__title wow animate__animated animate__fadeIn">Галерея <span>Блюд</span></h2>
            <div class="gallery__box-imgs">
                <img class="gallery__box-img gallery__box-img--big" src="assets/img/gallery1.webp" alt="">
                <img class="gallery__box-img" src="assets/img/gallery2.webp" alt="">
                <img class="gallery__box-img" src="assets/img/gallery3.webp" alt="">
            </div>
            <div class="gallery__box-imgs">
                <img class="gallery__box-img" src="assets/img/gallery3.webp" alt="">
                <img class="gallery__box-img" src="assets/img/gallery2.webp" alt="">
                <img class="gallery__box-img gallery__box-img--big" src="assets/img/gallery1.webp" alt="">
            </div>
        </div>
        <div class="gallery__box">
            <h2 class="gallery__title wow animate__animated animate__fadeIn">Наши <span>Повара</span></h2>
            <div class="gallery__box-imgs">
                <img class="gallery__box-img gallery__box-img--cook" src="assets/img/cook1.webp" alt="">
                <img class="gallery__box-img gallery__box-img--cook" src="assets/img/cook2.webp" alt="">
                <img class="gallery__box-img gallery__box-img--cook" src="assets/img/cook3.webp" alt="">
            </div>
        </div>
    </div>
</section>