<header class="header" style="background-image: url(assets/img/bgHeader.webp);">
    <div class="container">
        <div class="header__inner">
            <div class="header__top">
                <a href="#" class="header__logo">
                    <img class="header__logo-img" src="assets/img/logo.svg" alt="">
                </a>
                <div class="header__navigation">
                    <ul class="header__menu">
                        <li class="header__item">
                            <a href="" class="header__link">ГЛАВНАЯ</a>
                        </li>
                        <li class="header__item">
                            <a href="" class="header__link">МЕНЮ</a>
                        </li>
                        <li class="header__item">
                            <a href="" class="header__link">О НАС</a>
                        </li>
                        <li class="header__item">
                            <a href="" class="header__link">БРОНЬ</a>
                        </li>
                    </ul>
                    <a class="header__basket" href="#">
                        <img class="header__basket-img" src="assets/img/basket.svg" alt="">
                    </a>
                    <div class="header__info">
                        <a class="header__info-phone" href="tel:+9998887654">+999-888-76-54</a>
                        <p class="header__info-text">Свяжитесь с нами для бронирования</p>
                    </div>
                    <button class="header__btn">ЗАКАЗ СТОЛИКА</button>
                </div>
            </div>
            <div class="header__bottom">
                <h1 class="header__title"><span>Добро пожаловать в</span> Наш ресторан</h1>
                <p class="header__subtitle">ДОМ ЛУЧШЕЙ ЕДЫ</p>
                <button class="header__btn">VIEW MENU</button>
            </div>
            <div class="header__card">
                <div class="header__card-item">
                    <img class="header__card-img" src="assets/img/card.svg" alt="">
                    <h3 class="header__card-title">Магическая <span>Атмосфера</span></h3>
                    <p class="header__card-text">В нашем заведении царит магическая атмосфера наполненная вкусными ароматами</p>
                </div>
                <div class="header__card-item">
                    <img class="header__card-img" src="assets/img/card.svg" alt="">
                    <h3 class="header__card-title">Лучшее качество <span>Еды</span></h3>
                    <p class="header__card-text">Качество нашей Еды - отменное!</p>
                </div>
                <div class="header__card-item">
                    <img class="header__card-img" src="assets/img/card.svg" alt="">
                    <h3 class="header__card-title">Недорогая <span>Еда</span></h3>
                    <p class="header__card-text">Стоимость нашей Еды зависит только от ее количества. Качество всегда на высоте!</p>
                </div>
            </div>
        </div>
    </div>
</header>

