<section class="history">
    <div class="container">
        <div class="history__inner">
            <div class="history__content">
                <h2 class="history__title wow animate__animated animate__fadeInDown">Наша <span>История</span></h2>
                <p class="history__text">Как и у любого другого самобытного места, у нас есть своя, особая история. Идея ресторана пришла основателям неожиданно. Во время прогулки по лесу создатель нашего ресторана застрял в сотнях километров от ближайшего населенного пункта. Вдали от цивилизации и связи им пришлось навремя обустровать себе нехитрый быт, добывать и готовить себе еду.</p>
                <div class="history__counters">
                    <ul class="history__counter">
                        <li class="history__counter-num wow animate__animated animate__fadeInDown">93</li>
                        <li class="history__counter-name">Напитки</li>
                    </ul>
                    <ul class="history__counter">
                        <li class="history__counter-num wow animate__animated animate__fadeInDown">206</li>
                        <li class="history__counter-name">Еда</li>
                    </ul>
                    <ul class="history__counter">
                        <li class="history__counter-num wow animate__animated animate__fadeInDown">71</li>
                        <li class="history__counter-name">Закуски</li>
                    </ul>
                </div>
            </div>
            <div class="history__photo">
                <div class="history__photo-color"></div>
                <img class="history__photo-first" src="assets/img/history1.webp" alt="">
                <img class="history__photo-second" src="assets/img/history2.webp" alt="">
                <img class="history__photo-therd" src="assets/img/history3.webp" alt="">
            </div>
        </div>
    </div>
</section>