<section class="menu">
    <div class="menu__background">
        <div class="container">
            <div class="menu__inner">
                <h2 class="menu__title wow animate__animated animate__fadeIn">Наше меню</h2>
                <div class="button-box">
                    <div class="menu__button-prev"></div>
                    <div class="menu__button-next"></div>
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper menu__boxs">
                            <div class="swiper-slide menu__box menu__box--recomend">
                                <img class="menu__box-img" src="assets/img/box-img.webp" alt="">
                                <h4 class="menu__box-title">Гамбургер макси</h4>
                                <p class="menu__box-description">Максимально толстый слой мяса</p>
                                <button class="menu__btn">ЗАКАЗАТЬ</button>
                            </div>
                            <div class="swiper-slide menu__box">
                                <img class="menu__box-img" src="assets/img/box-img.webp" alt="">
                                <h4 class="menu__box-title">Гамбургер макси</h4>
                                <p class="menu__box-description">Максимально толстый слой мяса</p>
                                <button class="menu__btn">ЗАКАЗАТЬ</button>
                            </div>
                            <div class="swiper-slide menu__box">
                                <img class="menu__box-img" src="assets/img/box-img.webp" alt="">
                                <h4 class="menu__box-title">Гамбургер макси</h4>
                                <p class="menu__box-description">Максимально толстый слой мяса</p>
                                <button class="menu__btn">ЗАКАЗАТЬ</button>
                            </div>
                            <div class="swiper-slide menu__box menu__box--recomend">
                                <img class="menu__box-img" src="assets/img/box-img.webp" alt="">
                                <h4 class="menu__box-title">Гамбургер макси</h4>
                                <p class="menu__box-description">Максимально толстый слой мяса</p>
                                <button class="menu__btn">ЗАКАЗАТЬ</button>
                            </div>
                            <div class="swiper-slide menu__box">
                                <img class="menu__box-img" src="assets/img/box-img.webp" alt="">
                                <h4 class="menu__box-title">Гамбургер макси</h4>
                                <p class="menu__box-description">Максимально толстый слой мяса</p>
                                <button class="menu__btn">ЗАКАЗАТЬ</button>
                            </div>
                            <div class="swiper-slide menu__box">
                                <img class="menu__box-img" src="assets/img/box-img.webp" alt="">
                                <h4 class="menu__box-title">Гамбургер макси</h4>
                                <p class="menu__box-description">Максимально толстый слой мяса</p>
                                <button class="menu__btn">ЗАКАЗАТЬ</button>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</section>